.theme-dark {
  --theme-brand-secondary-contrast-text: var(--pre-colors-base-white);
  --theme-brand-secondary-pressed: var(--pre-colors-teal-800);
  --theme-brand-secondary-dark: var(--pre-colors-teal-700);
  --theme-brand-secondary-hover: var(--pre-colors-teal-600);
  --theme-brand-primary-main: var(--pre-colors-orange-500);
  --theme-brand-secondary-main: var(--pre-colors-teal-500);
  --theme-brand-secondary-ultra-light: var(--pre-colors-teal-100);
  --theme-brand-primary-dark: var(--pre-colors-orange-700);
  --theme-brand-primary-pressed: var(--pre-colors-orange-800);
  --theme-brand-secondary-light: var(--pre-colors-teal-300);
  --theme-brand-primary-contrast-text: var(--pre-colors-base-black);
  --theme-brand-primary-ultra-light: var(--pre-colors-orange-100);
  --theme-brand-primary-hover: var(--pre-colors-orange-600);
  --theme-brand-primary-light: var(--pre-colors-orange-300);
  --theme-brand-tertiary-contrast-text: var(--pre-colors-base-white);
  --theme-brand-tertiary-pressed: var(--pre-colors-navy-800);
  --theme-brand-tertiary-dark: var(--pre-colors-navy-700);
  --theme-brand-tertiary-hover: var(--pre-colors-navy-600);
  --theme-brand-tertiary-main: var(--pre-colors-navy-500);
  --theme-brand-tertiary-light: var(--pre-colors-navy-300);
  --theme-brand-tertiary-ultra-light: var(--pre-colors-navy-100);
  --theme-support-success-main: var(--pre-colors-green-500);
  --theme-support-success-light: var(--pre-colors-green-300);
  --theme-support-success-dark: var(--pre-colors-green-700);
  --theme-support-success-ultra-light: var(--pre-colors-green-100);
  --theme-support-info-dark: var(--pre-colors-blue-700);
  --theme-support-info-main: var(--pre-colors-blue-500);
  --theme-support-info-light: var(--pre-colors-blue-300);
  --theme-support-info-ultra-light: var(--pre-colors-blue-100);
  --theme-support-warn-main: var(--pre-colors-orange-500);
  --theme-support-warn-light: var(--pre-colors-orange-300);
  --theme-support-warn-dark: var(--pre-colors-orange-700);
  --theme-support-warn-ultra-light: var(--pre-colors-orange-100);
  --theme-support-error-dark: var(--pre-colors-red-700);
  --theme-support-error-light: var(--pre-colors-red-300);
  --theme-support-error-main: var(--pre-colors-red-500);
  --theme-support-error-ultra-light: var(--pre-colors-red-100);
  --theme-base-transparent: var(--pre-colors-base-transparent);
  --theme-base-inverse: var(--pre-colors-base-black);
  --theme-base-primary: var(--pre-colors-base-white);
  --theme-neutral-900: var(--pre-colors-grey-50);
  --theme-neutral-700: var(--pre-colors-grey-200);
  --theme-neutral-600: var(--pre-colors-grey-300);
  --theme-neutral-500: var(--pre-colors-grey-400);
  --theme-neutral-800: var(--pre-colors-grey-100);
  --theme-neutral-50: var(--pre-colors-grey-900);
  --theme-neutral-100: var(--pre-colors-grey-800);
  --theme-neutral-400: var(--pre-colors-grey-500);
  --theme-neutral-300: var(--pre-colors-grey-600);
  --theme-neutral-200: var(--pre-colors-grey-700);
}
