:root {
  --text-base-default: var(--neutral-900);
  --text-base-sub: var(--neutral-500);
  --text-base-disabled: var(--neutral-400);
  --text-base-inverse: var(--base-inverse);
  --text-brand-primary-main: var(--brand-primary-main);
  --text-brand-primary-hover: var(--brand-primary-hover);
  --text-brand-primary-pressed: var(--brand-primary-pressed);
  --text-brand-primary-contrast: var(--brand-primary-contrast-text);
  --text-brand-secondary-main: var(--brand-secondary-main);
  --text-brand-secondary-hover: var(--brand-secondary-hover);
  --text-brand-secondary-pressed: var(--brand-secondary-pressed);
  --text-brand-secondary-contrast: var(--brand-secondary-contrast-text);
  --text-brand-tertiary-main: var(--brand-tertiary-main);
  --text-brand-tertiary-hover: var(--brand-tertiary-hover);
  --text-brand-tertiary-pressed: var(--brand-tertiary-pressed);
  --text-brand-tertiary-contrast: var(--brand-tertiary-contrast-text);
  --text-support-success: var(--support-success-main);
  --text-support-info: var(--support-info-main);
  --text-support-warn: var(--support-warn-main);
  --text-support-error: var(--support-error-main);
  --background-base-default: var(--base-inverse);
  --background-base-inverse: var(--base-primary);
  --background-base-disabled: var(--neutral-100);
  --background-base-subtle: var(--neutral-50);
  --background-base-none: var(--base-transparent);
  --background-brand-primary-ultra-light: var(--brand-primary-ultra-light);
  --background-brand-primary-light: var(--brand-primary-light);
  --background-brand-primary-main: var(--brand-primary-main);
  --background-brand-primary-hover: var(--brand-primary-hover);
  --background-brand-primary-pressed: var(--brand-primary-pressed);
  --background-brand-secondary-ultra-light: var(--brand-secondary-ultra-light);
  --background-brand-secondary-light: var(--brand-secondary-light);
  --background-brand-secondary-main: var(--brand-secondary-main);
  --background-brand-secondary-hover: var(--brand-secondary-hover);
  --background-brand-secondary-pressed: var(--brand-secondary-pressed);
  --background-brand-tertiary-ultra-light: var(--brand-tertiary-ultra-light);
  --background-brand-tertiary-light: var(--brand-tertiary-light);
  --background-brand-tertiary-main: var(--brand-tertiary-main);
  --background-brand-tertiary-hover: var(--brand-tertiary-hover);
  --background-brand-tertiary-pressed: var(--brand-tertiary-pressed);
  --background-support-success-ultra-light: var(--support-success-ultra-light);
  --background-support-success-light: var(--support-success-light);
  --background-support-info-ultra-light: var(--support-info-ultra-light);
  --background-support-info-light: var(--support-info-light);
  --background-support-warn-ultra-light: var(--support-warn-ultra-light);
  --background-support-warn-light: var(--support-warn-light);
  --background-support-error-ultra-light: var(--support-error-ultra-light);
  --background-support-error-light: var(--support-error-light);
  --border-base-default: var(--neutral-300);
  --border-base-strong: var(--neutral-300);
  --border-base-none: var(--base-transparent);
  --border-brand-primary-main: var(--brand-primary-main);
  --border-brand-primary-hover: var(--brand-primary-hover);
  --border-brand-secondary-main: var(--brand-secondary-main);
  --border-brand-secondary-hover: var(--brand-secondary-hover);
  --border-brand-tertiary-main: var(--brand-tertiary-main);
  --border-brand-tertiary-hover: var(--brand-tertiary-hover);
  --border-support-active: var(--brand-primary-main);
  --border-support-disabled: var(--neutral-100);
  --border-support-success: var(--support-success-main);
  --border-support-info: var(--support-info-main);
  --border-support-warn: var(--support-warn-main);
  --border-support-error: var(--support-error-main);
  --effect-base-none: var(--base-transparent);
  --effect-focus-primary: var(--brand-primary-ultra-light);
  --effect-focus-error: var(--support-error-ultra-light);
  --effect-shadow-soft: rgb(15 23 42 / 8%);
  --effect-brand-primary-ultra-light: var(--brand-primary-ultra-light);
  --effect-brand-primary-light: var(--brand-primary-light);
  --effect-brand-primary-main: var(--brand-primary-main);
  --effect-brand-primary-dark: var(--brand-primary-dark);
  --effect-brand-secondary-ultra-light: var(--brand-secondary-ultra-light);
  --effect-brand-secondary-light: var(--brand-secondary-light);
  --effect-brand-secondary-main: var(--brand-secondary-main);
  --effect-brand-secondary-dark: var(--brand-secondary-dark);
  --effect-brand-tertiary-ultra-light: var(--brand-tertiary-ultra-light);
  --effect-brand-tertiary-light: var(--brand-tertiary-light);
  --effect-brand-tertiary-main: var(--brand-tertiary-main);
  --effect-brand-tertiary-dark: var(--brand-tertiary-dark);
  --effect-support-success-ultra-light: var(--support-success-ultra-light);
  --effect-support-success-light: var(--support-success-light);
  --effect-support-success-main: var(--support-success-main);
  --effect-support-info-ultra-light: var(--support-info-ultra-light);
  --effect-support-info-light: var(--support-info-light);
  --effect-support-info-main: var(--support-info-main);
  --effect-support-warn-ultra-light: var(--support-warn-ultra-light);
  --effect-support-warn-light: var(--support-warn-light);
  --effect-support-warn-main: var(--support-warn-main);
  --effect-support-error-ultra-light: var(--support-error-ultra-light);
  --effect-support-error-light: var(--support-error-light);
  --effect-support-error-main: var(--support-error-main);
  --z-base: var(--z-index-0);
  --z-raised: var(--z-index-1);
  --z-dropdown: var(--z-index-100);
  --z-sticky: var(--z-index-200);
  --z-fixed-header: var(--z-index-300);
  --z-float-header: var(--z-index-350);
  --z-navigation-bar: var(--z-index-400);
  --z-overlay: var(--z-index-500);
  --z-modal: var(--z-index-600);
  --z-dialog: var(--z-index-700);
  --z-toast: var(--z-index-800);
  --z-tooltip: var(--z-index-900);
  --z-loading: var(--z-index-1000);
}
