@import "./primitive.css";
@import "./theme/index.css";
@import "./responsive/index.css";

:root {
  /* Color / Text */
  --color-ds-cl-text-base-default: var(--theme-base-primary);
  --color-ds-cl-text-base-sub: var(--theme-neutral-400);
  --color-ds-cl-text-base-disabled: var(--theme-neutral-200);
  --color-ds-cl-text-base-inverse: var(--theme-base-inverse);

  --color-ds-cl-text-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-text-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-text-brand-primary-pressed: var(--theme-brand-primary-pressed);
  --color-ds-cl-text-brand-primary-contrast: var(
    --theme-brand-primary-contrast-text
  );

  --color-ds-cl-text-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-text-brand-secondary-hover: var(--theme-brand-secondary-hover);
  --color-ds-cl-text-brand-secondary-pressed: var(
    --theme-brand-secondary-pressed
  );
  --color-ds-cl-text-brand-secondary-contrast: var(
    --theme-brand-secondary-contrast-text
  );

  --color-ds-cl-text-support-success: var(--theme-support-success-main);
  --color-ds-cl-text-support-info: var(--theme-support-info-main);
  --color-ds-cl-text-support-warn: var(--theme-support-warn-main);
  --color-ds-cl-text-support-error: var(--theme-support-error-main);

  /* Color / Background */
  --color-ds-cl-bg-base-none: var(--theme-base-transparent);
  --color-ds-cl-bg-base-default: var(--theme-base-inverse);
  --color-ds-cl-bg-base-disabled: var(--theme-neutral-100);
  --color-ds-cl-bg-base-inverse: var(--theme-base-primary);

  --color-ds-cl-bg-brand-primary-ultra-light: var(
    --theme-brand-primary-ultra-light
  );
  --color-ds-cl-bg-brand-primary-light: var(--theme-brand-primary-light);
  --color-ds-cl-bg-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-bg-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-bg-brand-primary-pressed: var(--theme-brand-primary-pressed);

  --color-ds-cl-bg-brand-secondary-ultra-light: var(
    --theme-brand-secondary-ultra-light
  );
  --color-ds-cl-bg-brand-secondary-light: var(--theme-brand-secondary-light);
  --color-ds-cl-bg-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-bg-brand-secondary-hover: var(--theme-brand-secondary-hover);
  --color-ds-cl-bg-brand-secondary-pressed: var(
    --theme-brand-secondary-pressed
  );

  --color-ds-cl-bg-support-success-ultra-light: var(
    --theme-support-success-ultra-light
  );
  --color-ds-cl-bg-support-success-light: var(--theme-support-success-light);
  --color-ds-cl-bg-support-success-main: var(--theme-support-success-main);

  --color-ds-cl-bg-support-info-ultra-light: var(
    --theme-support-info-ultra-light
  );
  --color-ds-cl-bg-support-info-light: var(--theme-support-info-light);
  --color-ds-cl-bg-support-info-main: var(--theme-support-info-main);

  --color-ds-cl-bg-support-warn-ultra-light: var(
    --theme-support-warn-ultra-light
  );
  --color-ds-cl-bg-support-warn-light: var(--theme-support-warn-light);
  --color-ds-cl-bg-support-warn-main: var(--theme-support-warn-main);

  --color-ds-cl-bg-support-error-ultra-light: var(
    --theme-support-error-ultra-light
  );
  --color-ds-cl-bg-support-error-light: var(--theme-support-error-light);
  --color-ds-cl-bg-support-error-main: var(--theme-support-error-main);

  /* Color / Border */
  --color-ds-cl-border-base-none: var(--theme-base-transparent);
  --color-ds-cl-border-base-default: var(--theme-neutral-300);
  --color-ds-cl-border-base-hover: var(--theme-neutral-500);

  --color-ds-cl-border-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-border-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-border-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-border-brand-secondary-hover: var(
    --theme-brand-secondary-hover
  );

  --color-ds-cl-border-support-success: var(--theme-support-success-main);
  --color-ds-cl-border-support-info: var(--theme-support-info-main);
  --color-ds-cl-border-support-warn: var(--theme-support-warn-main);
  --color-ds-cl-border-support-error: var(--theme-support-error-main);
  --color-ds-cl-border-support-disabled: var(--theme-neutral-100);
  --color-ds-cl-border-support-active: var(--theme-brand-primary-main);

  /* Color / Effect */
  --color-ds-cl-effect-base-none: var(--theme-base-transparent);
  --color-ds-cl-effect-base-default: var(--theme-neutral-100);
  --color-ds-cl-effect-base-disable: var(--theme-base-transparent);
  --color-ds-cl-effect-base-inverse: var(--theme-base-inverse);

  --color-ds-cl-effect-brand-primary-ultra-light: var(
    --theme-brand-primary-ultra-light
  );
  --color-ds-cl-effect-brand-primary-light: var(--theme-brand-primary-light);
  --color-ds-cl-effect-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-effect-brand-primary-dark: var(--theme-brand-primary-dark);

  --color-ds-cl-effect-brand-secondary-ultra-light: var(
    --theme-brand-secondary-ultra-light
  );
  --color-ds-cl-effect-brand-secondary-light: var(
    --theme-brand-secondary-light
  );
  --color-ds-cl-effect-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-effect-brand-secondary-dark: var(--theme-brand-secondary-dark);

  --color-ds-cl-effect-support-success-ultra-light: var(
    --theme-support-success-ultra-light
  );
  --color-ds-cl-effect-support-success-light: var(
    --theme-support-success-light
  );
  --color-ds-cl-effect-support-success-main: var(--theme-support-success-main);

  --color-ds-cl-effect-support-info-ultra-light: var(
    --theme-support-info-ultra-light
  );
  --color-ds-cl-effect-support-info-light: var(--theme-support-info-light);
  --color-ds-cl-effect-support-info-main: var(--theme-support-info-main);

  --color-ds-cl-effect-support-warn-ultra-light: var(
    --theme-support-warn-ultra-light
  );
  --color-ds-cl-effect-support-warn-light: var(--theme-support-warn-light);
  --color-ds-cl-effect-support-warn-main: var(--theme-support-warn-main);

  --color-ds-cl-effect-support-error-ultra-light: var(
    --theme-support-error-ultra-light
  );
  --color-ds-cl-effect-support-error-light: var(--theme-support-error-light);
  --color-ds-cl-effect-support-error-main: var(--theme-support-error-main);

  /* Typography / Family */
  --font-ds-family-primary: var(--pre-font-family-primary);
  --font-ds-family-mono: var(--pre-font-family-mono);

  /* Typography / Weight */
  --font-weight-ds-w-default: var(--res-font-size-weight-default);
  --font-weight-ds-w-medium: var(--res-font-size-weight-medium);
  --font-weight-ds-w-semibold: var(--res-font-size-weight-semibold);
  --font-weight-ds-w-bold: var(--res-font-size-weight-bold);

  /* Typography / Title */
  --text-ds-size-title-display-small: var(--res-font-size-title-display-small);
  --text-ds-size-title-display-medium: var(
    --res-font-size-title-display-medium
  );
  --text-ds-size-title-display-large: var(--res-font-size-title-display-large);
  --text-ds-size-title-level-1: var(--res-font-size-title-level-1);
  --text-ds-size-title-level-2: var(--res-font-size-title-level-2);
  --text-ds-size-title-level-3: var(--res-font-size-title-level-3);
  --text-ds-size-title-level-4: var(--res-font-size-title-level-4);
  --text-ds-size-title-level-5: var(--res-font-size-title-level-5);
  --text-ds-size-title-level-6: var(--res-font-size-title-level-6);

  /* Typography / Content */
  --text-ds-size-content-body-tiny: var(--res-font-size-content-body-tiny);
  --text-ds-size-content-body-small: var(--res-font-size-content-body-small);
  --text-ds-size-content-body-medium: var(--res-font-size-content-body-medium);
  --text-ds-size-content-body-large: var(--res-font-size-content-body-large);

  --text-ds-size-content-support-small: var(
    --res-font-size-content-support-small
  );
  --text-ds-size-content-support-medium: var(
    --res-font-size-content-support-medium
  );
  --text-ds-size-content-support-large: var(
    --res-font-size-content-support-large
  );

  --text-ds-size-content-label-tiny: var(--res-font-size-content-label-tiny);
  --text-ds-size-content-label-small: var(--res-font-size-content-label-small);
  --text-ds-size-content-label-medium: var(
    --res-font-size-content-label-medium
  );
  --text-ds-size-content-label-large: var(--res-font-size-content-label-large);

  --text-ds-size-content-highlight-small: var(
    --res-font-size-content-highlight-small
  );
  --text-ds-size-content-highlight-medium: var(
    --res-font-size-content-highlight-medium
  );
  --text-ds-size-content-highlight-large: var(
    --res-font-size-content-highlight-large
  );

  /* Typography / Action */
  --text-ds-size-action-tiny: var(--res-font-size-action-tiny);
  --text-ds-size-action-small: var(--res-font-size-action-small);
  --text-ds-size-action-medium: var(--res-font-size-action-medium);
  --text-ds-size-action-large: var(--res-font-size-action-large);

  /* Radius */
  --radius-ds-none: var(--res-radius-none);
  --radius-ds-xs: var(--res-radius-xs);
  --radius-ds-sm: var(--res-radius-sm);
  --radius-ds-md: var(--res-radius-md);
  --radius-ds-lg: var(--res-radius-lg);
  --radius-ds-xl: var(--res-radius-xl);
  --radius-ds-2xl: var(--res-radius-2xl);
  --radius-ds-3xl: var(--res-radius-3xl);
  --radius-ds-4xl: var(--res-radius-4xl);
  --radius-ds-full: var(--res-radius-full);

  /* Gap */
  --spacing-ds-gap-none: var(--res-gap-none);
  --spacing-ds-gap-lv-1: var(--res-gap-lv-1);
  --spacing-ds-gap-lv-2: var(--res-gap-lv-2);
  --spacing-ds-gap-lv-3: var(--res-gap-lv-3);
  --spacing-ds-gap-page: var(--res-gap-page);

  /* Padding */
  --spacing-ds-pd-none: var(--res-padding-none);
  --spacing-ds-pd-xs-: var(--res-padding-xs-);
  --spacing-ds-pd-xs: var(--res-padding-xs);
  --spacing-ds-pd-sm-: var(--res-padding-sm-);
  --spacing-ds-pd-sm: var(--res-padding-sm);
  --spacing-ds-pd-md-: var(--res-padding-md-);
  --spacing-ds-pd-md: var(--res-padding-md);
  --spacing-ds-pd-lg-: var(--res-padding-lg-);
  --spacing-ds-pd-lg: var(--res-padding-lg);
  --spacing-ds-pd-xl-: var(--res-padding-xl-);
  --spacing-ds-pd-xl: var(--res-padding-xl);
  --spacing-ds-pd-2xl-: var(--res-padding-2xl-);
  --spacing-ds-pd-2xl: var(--res-padding-2xl);
  --spacing-ds-pd-3xl-: var(--res-padding-3xl-);
  --spacing-ds-pd-3xl: var(--res-padding-3xl);
  --spacing-ds-pd-4xl-: var(--res-padding-4xl-);
  --spacing-ds-pd-4xl: var(--res-padding-4xl);
  --spacing-ds-pd-pt-page: var(--res-padding-pt-page);
  --spacing-ds-pd-px-page: var(--res-padding-px-page);
  --spacing-ds-pd-pb-page: var(--res-padding-pb-page);

  /* Border */
  --border-width-ds-width-none: var(--res-border-none);
  --border-width-ds-width-default: var(--res-border-default);
  --border-width-ds-width-emphasis: var(--res-border-emphasis);

  /* Z-index */
  --z-index-ds-base: var(--pre-z-index-0);
  --z-index-ds-raised: var(--pre-z-index-1);
  --z-index-ds-menu: var(--pre-z-index-100);
  --z-index-ds-sticky: var(--pre-z-index-200);
  --z-index-ds-fixed: var(--pre-z-index-300);
  --z-index-ds-navigation: var(--pre-z-index-400);
  --z-index-ds-overlay: var(--pre-z-index-500);
  --z-index-ds-modal: var(--pre-z-index-600);
  --z-index-ds-dialog: var(--pre-z-index-700);
  --z-index-ds-tooltip: var(--pre-z-index-800);
  --z-index-ds-toast: var(--pre-z-index-900);
  --z-index-ds-loading: var(--pre-z-index-1000);
}
@theme inline {
  /* Color / Text */
  --color-ds-cl-text-base-default: var(--theme-base-primary);
  --color-ds-cl-text-base-sub: var(--theme-neutral-400);
  --color-ds-cl-text-base-disabled: var(--theme-neutral-200);
  --color-ds-cl-text-base-inverse: var(--theme-base-inverse);

  --color-ds-cl-text-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-text-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-text-brand-primary-pressed: var(--theme-brand-primary-pressed);
  --color-ds-cl-text-brand-primary-contrast: var(
    --theme-brand-primary-contrast-text
  );

  --color-ds-cl-text-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-text-brand-secondary-hover: var(--theme-brand-secondary-hover);
  --color-ds-cl-text-brand-secondary-pressed: var(
    --theme-brand-secondary-pressed
  );
  --color-ds-cl-text-brand-secondary-contrast: var(
    --theme-brand-secondary-contrast-text
  );

  --color-ds-cl-text-support-success: var(--theme-support-success-main);
  --color-ds-cl-text-support-info: var(--theme-support-info-main);
  --color-ds-cl-text-support-warn: var(--theme-support-warn-main);
  --color-ds-cl-text-support-error: var(--theme-support-error-main);

  /* Color / Background */
  --color-ds-cl-bg-base-none: var(--theme-base-transparent);
  --color-ds-cl-bg-base-default: var(--theme-base-inverse);
  --color-ds-cl-bg-base-disabled: var(--theme-neutral-100);
  --color-ds-cl-bg-base-inverse: var(--theme-base-primary);

  --color-ds-cl-bg-brand-primary-ultra-light: var(
    --theme-brand-primary-ultra-light
  );
  --color-ds-cl-bg-brand-primary-light: var(--theme-brand-primary-light);
  --color-ds-cl-bg-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-bg-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-bg-brand-primary-pressed: var(--theme-brand-primary-pressed);

  --color-ds-cl-bg-brand-secondary-ultra-light: var(
    --theme-brand-secondary-ultra-light
  );
  --color-ds-cl-bg-brand-secondary-light: var(--theme-brand-secondary-light);
  --color-ds-cl-bg-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-bg-brand-secondary-hover: var(--theme-brand-secondary-hover);
  --color-ds-cl-bg-brand-secondary-pressed: var(
    --theme-brand-secondary-pressed
  );

  --color-ds-cl-bg-support-success-ultra-light: var(
    --theme-support-success-ultra-light
  );
  --color-ds-cl-bg-support-success-light: var(--theme-support-success-light);
  --color-ds-cl-bg-support-success-main: var(--theme-support-success-main);

  --color-ds-cl-bg-support-info-ultra-light: var(
    --theme-support-info-ultra-light
  );
  --color-ds-cl-bg-support-info-light: var(--theme-support-info-light);
  --color-ds-cl-bg-support-info-main: var(--theme-support-info-main);

  --color-ds-cl-bg-support-warn-ultra-light: var(
    --theme-support-warn-ultra-light
  );
  --color-ds-cl-bg-support-warn-light: var(--theme-support-warn-light);
  --color-ds-cl-bg-support-warn-main: var(--theme-support-warn-main);

  --color-ds-cl-bg-support-error-ultra-light: var(
    --theme-support-error-ultra-light
  );
  --color-ds-cl-bg-support-error-light: var(--theme-support-error-light);
  --color-ds-cl-bg-support-error-main: var(--theme-support-error-main);

  /* Color / Border */
  --color-ds-cl-border-base-none: var(--theme-base-transparent);
  --color-ds-cl-border-base-default: var(--theme-neutral-300);

  --color-ds-cl-border-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-border-brand-primary-hover: var(--theme-brand-primary-hover);
  --color-ds-cl-border-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-border-brand-secondary-hover: var(
    --theme-brand-secondary-hover
  );

  --color-ds-cl-border-support-success: var(--theme-support-success-main);
  --color-ds-cl-border-support-info: var(--theme-support-info-main);
  --color-ds-cl-border-support-warn: var(--theme-support-warn-main);
  --color-ds-cl-border-support-error: var(--theme-support-error-main);
  --color-ds-cl-border-support-disabled: var(--theme-neutral-100);
  --color-ds-cl-border-support-active: var(--theme-brand-primary-main);

  /* Color / Effect */
  --color-ds-cl-effect-base-none: var(--theme-base-transparent);
  --color-ds-cl-effect-base-default: var(--theme-neutral-100);
  --color-ds-cl-effect-base-disable: var(--theme-base-transparent);
  --color-ds-cl-effect-base-inverse: var(--theme-base-inverse);

  --color-ds-cl-effect-brand-primary-ultra-light: var(
    --theme-brand-primary-ultra-light
  );
  --color-ds-cl-effect-brand-primary-light: var(--theme-brand-primary-light);
  --color-ds-cl-effect-brand-primary-main: var(--theme-brand-primary-main);
  --color-ds-cl-effect-brand-primary-dark: var(--theme-brand-primary-dark);

  --color-ds-cl-effect-brand-secondary-ultra-light: var(
    --theme-brand-secondary-ultra-light
  );
  --color-ds-cl-effect-brand-secondary-light: var(
    --theme-brand-secondary-light
  );
  --color-ds-cl-effect-brand-secondary-main: var(--theme-brand-secondary-main);
  --color-ds-cl-effect-brand-secondary-dark: var(--theme-brand-secondary-dark);

  --color-ds-cl-effect-support-success-ultra-light: var(
    --theme-support-success-ultra-light
  );
  --color-ds-cl-effect-support-success-light: var(
    --theme-support-success-light
  );
  --color-ds-cl-effect-support-success-main: var(--theme-support-success-main);

  --color-ds-cl-effect-support-info-ultra-light: var(
    --theme-support-info-ultra-light
  );
  --color-ds-cl-effect-support-info-light: var(--theme-support-info-light);
  --color-ds-cl-effect-support-info-main: var(--theme-support-info-main);

  --color-ds-cl-effect-support-warn-ultra-light: var(
    --theme-support-warn-ultra-light
  );
  --color-ds-cl-effect-support-warn-light: var(--theme-support-warn-light);
  --color-ds-cl-effect-support-warn-main: var(--theme-support-warn-main);

  --color-ds-cl-effect-support-error-ultra-light: var(
    --theme-support-error-ultra-light
  );
  --color-ds-cl-effect-support-error-light: var(--theme-support-error-light);
  --color-ds-cl-effect-support-error-main: var(--theme-support-error-main);

  /* Typography / Family */
  --font-ds-family-primary: var(--pre-font-family-primary);
  --font-ds-family-mono: var(--pre-font-family-mono);

  /* Typography / Weight */
  --font-weight-ds-w-default: var(--res-font-size-weight-default);
  --font-weight-ds-w-medium: var(--res-font-size-weight-medium);
  --font-weight-ds-w-semibold: var(--res-font-size-weight-semibold);
  --font-weight-ds-w-bold: var(--res-font-size-weight-bold);

  /* Typography / Title */
  --text-ds-size-title-display-small: var(--res-font-size-title-display-small);
  --text-ds-size-title-display-medium: var(
    --res-font-size-title-display-medium
  );
  --text-ds-size-title-display-large: var(--res-font-size-title-display-large);
  --text-ds-size-title-level-1: var(--res-font-size-title-level-1);
  --text-ds-size-title-level-2: var(--res-font-size-title-level-2);
  --text-ds-size-title-level-3: var(--res-font-size-title-level-3);
  --text-ds-size-title-level-4: var(--res-font-size-title-level-4);
  --text-ds-size-title-level-5: var(--res-font-size-title-level-5);
  --text-ds-size-title-level-6: var(--res-font-size-title-level-6);

  /* Typography / Content */
  --text-ds-size-content-body-tiny: var(--res-font-size-content-body-tiny);
  --text-ds-size-content-body-small: var(--res-font-size-content-body-small);
  --text-ds-size-content-body-medium: var(--res-font-size-content-body-medium);
  --text-ds-size-content-body-large: var(--res-font-size-content-body-large);

  --text-ds-size-content-support-small: var(
    --res-font-size-content-support-small
  );
  --text-ds-size-content-support-medium: var(
    --res-font-size-content-support-medium
  );
  --text-ds-size-content-support-large: var(
    --res-font-size-content-support-large
  );

  --text-ds-size-content-label-tiny: var(--res-font-size-content-label-tiny);
  --text-ds-size-content-label-small: var(--res-font-size-content-label-small);
  --text-ds-size-content-label-medium: var(
    --res-font-size-content-label-medium
  );
  --text-ds-size-content-label-large: var(--res-font-size-content-label-large);

  --text-ds-size-content-highlight-small: var(
    --res-font-size-content-highlight-small
  );
  --text-ds-size-content-highlight-medium: var(
    --res-font-size-content-highlight-medium
  );
  --text-ds-size-content-highlight-large: var(
    --res-font-size-content-highlight-large
  );

  /* Typography / Action */
  --text-ds-size-action-tiny: var(--res-font-size-action-tiny);
  --text-ds-size-action-small: var(--res-font-size-action-small);
  --text-ds-size-action-medium: var(--res-font-size-action-medium);
  --text-ds-size-action-large: var(--res-font-size-action-large);

  /* Typography / Control */
  --text-ds-size-control-tiny: var(--res-font-size-control-tiny);
  --text-ds-size-control-small: var(--res-font-size-control-small);
  --text-ds-size-control-large: var(--res-font-size-control-large);
  --text-ds-size-control-medium: var(--res-font-size-control-medium);

  /* Radius */
  --radius-ds-none: var(--res-radius-none);
  --radius-ds-xs: var(--res-radius-xs);
  --radius-ds-sm: var(--res-radius-sm);
  --radius-ds-md: var(--res-radius-md);
  --radius-ds-lg: var(--res-radius-lg);
  --radius-ds-xl: var(--res-radius-xl);
  --radius-ds-2xl: var(--res-radius-2xl);
  --radius-ds-3xl: var(--res-radius-3xl);
  --radius-ds-4xl: var(--res-radius-4xl);
  --radius-ds-full: var(--res-radius-full);

  /* Gap */
  --spacing-ds-gap-none: var(--res-gap-none);
  --spacing-ds-gap-lv-1: var(--res-gap-lv-1);
  --spacing-ds-gap-lv-2: var(--res-gap-lv-2);
  --spacing-ds-gap-lv-3: var(--res-gap-lv-3);
  --spacing-ds-gap-page: var(--res-gap-page);

  /* Padding */
  --spacing-ds-pd-none: var(--res-padding-none);
  --spacing-ds-pd-xs-: var(--res-padding-xs-);
  --spacing-ds-pd-xs: var(--res-padding-xs);
  --spacing-ds-pd-sm-: var(--res-padding-sm-);
  --spacing-ds-pd-sm: var(--res-padding-sm);
  --spacing-ds-pd-md-: var(--res-padding-md-);
  --spacing-ds-pd-md: var(--res-padding-md);
  --spacing-ds-pd-lg-: var(--res-padding-lg-);
  --spacing-ds-pd-lg: var(--res-padding-lg);
  --spacing-ds-pd-xl-: var(--res-padding-xl-);
  --spacing-ds-pd-xl: var(--res-padding-xl);
  --spacing-ds-pd-2xl-: var(--res-padding-2xl-);
  --spacing-ds-pd-2xl: var(--res-padding-2xl);
  --spacing-ds-pd-3xl-: var(--res-padding-3xl-);
  --spacing-ds-pd-3xl: var(--res-padding-3xl);
  --spacing-ds-pd-4xl-: var(--res-padding-4xl-);
  --spacing-ds-pd-4xl: var(--res-padding-4xl);
  --spacing-ds-pd-page: var(--res-padding-page);
  --spacing-ds-pd-pt-page: var(--res-padding-pt-page);
  --spacing-ds-pd-px-page: var(--res-padding-px-page);
  --spacing-ds-pd-pb-page: var(--res-padding-pb-page);

  /* Border */
  --border-width-ds-width-none: var(--res-border-none);
  --border-width-ds-width-default: var(--res-border-default);
  --border-width-ds-width-emphasis: var(--res-border-emphasis);

  /* Z-index */
  --z-index-ds-base: var(--pre-z-index-0);
  --z-index-ds-raised: var(--pre-z-index-1);
  --z-index-ds-menu: var(--pre-z-index-100);
  --z-index-ds-sticky: var(--pre-z-index-200);
  --z-index-ds-fixed: var(--pre-z-index-300);
  --z-index-ds-navigation: var(--pre-z-index-400);
  --z-index-ds-overlay: var(--pre-z-index-500);
  --z-index-ds-modal: var(--pre-z-index-600);
  --z-index-ds-dialog: var(--pre-z-index-700);
  --z-index-ds-tooltip: var(--pre-z-index-800);
  --z-index-ds-toast: var(--pre-z-index-900);
  --z-index-ds-loading: var(--pre-z-index-1000);
  /* Box Shadow */
  --shadow-ds-surface: var(--res-shadow-surface)
    var(--ds-shadow-color, var(--color-ds-cl-effect-base-default));
  --shadow-ds-floating: var(--res-shadow-floating)
    var(--ds-shadow-color, var(--color-ds-cl-effect-base-default));
  --shadow-ds-overlay: var(--res-shadow-overlay)
    var(--ds-shadow-color, var(--color-ds-cl-effect-base-default));
  /* App Business */
  --color-ds-cl-app-rating: var(--theme-app-rating);
}

@utility shadow-ds-cl-effect-base-none {
  --ds-shadow-color: var(--color-ds-cl-effect-base-none);
}

@utility shadow-ds-cl-effect-base-default {
  --ds-shadow-color: var(--color-ds-cl-effect-base-default);
}

@utility shadow-ds-cl-effect-base-disable {
  --ds-shadow-color: var(--color-ds-cl-effect-base-disable);
}

@utility shadow-ds-cl-effect-base-inverse {
  --ds-shadow-color: var(--color-ds-cl-effect-base-inverse);
}

@utility shadow-ds-cl-effect-brand-primary-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-primary-ultra-light);
}

@utility shadow-ds-cl-effect-brand-primary-light {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-primary-light);
}

@utility shadow-ds-cl-effect-brand-primary-main {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-primary-main);
}

@utility shadow-ds-cl-effect-brand-primary-dark {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-primary-dark);
}

@utility shadow-ds-cl-effect-brand-secondary-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-secondary-ultra-light);
}

@utility shadow-ds-cl-effect-brand-secondary-light {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-secondary-light);
}

@utility shadow-ds-cl-effect-brand-secondary-main {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-secondary-main);
}

@utility shadow-ds-cl-effect-brand-secondary-dark {
  --ds-shadow-color: var(--color-ds-cl-effect-brand-secondary-dark);
}

@utility shadow-ds-cl-effect-support-success-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-success-ultra-light);
}

@utility shadow-ds-cl-effect-support-success-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-success-light);
}

@utility shadow-ds-cl-effect-support-success-main {
  --ds-shadow-color: var(--color-ds-cl-effect-support-success-main);
}

@utility shadow-ds-cl-effect-support-info-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-info-ultra-light);
}

@utility shadow-ds-cl-effect-support-info-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-info-light);
}

@utility shadow-ds-cl-effect-support-info-main {
  --ds-shadow-color: var(--color-ds-cl-effect-support-info-main);
}

@utility shadow-ds-cl-effect-support-warn-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-warn-ultra-light);
}

@utility shadow-ds-cl-effect-support-warn-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-warn-light);
}

@utility shadow-ds-cl-effect-support-warn-main {
  --ds-shadow-color: var(--color-ds-cl-effect-support-warn-main);
}

@utility shadow-ds-cl-effect-support-error-ultra-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-error-ultra-light);
}

@utility shadow-ds-cl-effect-support-error-light {
  --ds-shadow-color: var(--color-ds-cl-effect-support-error-light);
}

@utility shadow-ds-cl-effect-support-error-main {
  --ds-shadow-color: var(--color-ds-cl-effect-support-error-main);
}
