:root {
  --pre-colors-orange-50: #fff5e6;
  --pre-colors-orange-100: #ffdfb0;
  --pre-colors-orange-200: #ffd08a;
  --pre-colors-orange-300: #ffba54;
  --pre-colors-orange-400: #ffad33;
  --pre-colors-orange-500: #ff9800;
  --pre-colors-orange-600: #e88a00;
  --pre-colors-orange-700: #b56c00;
  --pre-colors-orange-800: #8c5400;
  --pre-colors-orange-900: #6b4000;
  --pre-colors-teal-50: #e8eff1;
  --pre-colors-teal-100: #b7ced2;
  --pre-colors-teal-200: #94b6bc;
  --pre-colors-teal-300: #64959e;
  --pre-colors-teal-400: #45818b;
  --pre-colors-teal-500: #17616e;
  --pre-colors-teal-600: #155864;
  --pre-colors-teal-700: #10454e;
  --pre-colors-teal-800: #0d353d;
  --pre-colors-teal-900: #0a292e;
  --pre-colors-navy-50: #e6ebf0;
  --pre-colors-navy-100: #b1c2cf;
  --pre-colors-navy-200: #8ca5b8;
  --pre-colors-navy-300: #577c97;
  --pre-colors-navy-400: #366283;
  --pre-colors-navy-500: #043b64;
  --pre-colors-navy-600: #04365b;
  --pre-colors-navy-700: #032a47;
  --pre-colors-navy-800: #022037;
  --pre-colors-navy-900: #02192a;
  --pre-colors-grey-50: #f5f5f5;
  --pre-colors-grey-100: #e1e1e1;
  --pre-colors-grey-200: #d2d2d2;
  --pre-colors-grey-300: #bebebe;
  --pre-colors-grey-400: #b1b1b1;
  --pre-colors-grey-500: #9e9e9e;
  --pre-colors-grey-600: #909090;
  --pre-colors-grey-700: #707070;
  --pre-colors-grey-800: #575757;
  --pre-colors-grey-900: #424242;
  --pre-colors-green-50: #edf7ee;
  --pre-colors-green-100: #c8e6c9;
  --pre-colors-green-200: #addaaf;
  --pre-colors-green-300: #87c98a;
  --pre-colors-green-400: #70bf73;
  --pre-colors-green-500: #4caf50;
  --pre-colors-green-600: #459f49;
  --pre-colors-green-700: #367c39;
  --pre-colors-green-800: #2a602c;
  --pre-colors-green-900: #204a22;
  --pre-colors-red-50: #feeceb;
  --pre-colors-red-100: #fcc5c1;
  --pre-colors-red-200: #faa9a3;
  --pre-colors-red-300: #f88178;
  --pre-colors-red-400: #f6695e;
  --pre-colors-red-500: #f44336;
  --pre-colors-red-600: #de3d31;
  --pre-colors-red-700: #ad3026;
  --pre-colors-red-800: #86251e;
  --pre-colors-red-900: #661c17;
  --pre-colors-blue-50: #e6f6fe;
  --pre-colors-blue-100: #b1e4fc;
  --pre-colors-blue-200: #8bd7fa;
  --pre-colors-blue-300: #56c5f8;
  --pre-colors-blue-400: #35baf6;
  --pre-colors-blue-500: #03a9f4;
  --pre-colors-blue-600: #039ade;
  --pre-colors-blue-700: #0278ad;
  --pre-colors-blue-800: #025d86;
  --pre-colors-blue-900: #014766;
  --pre-colors-base-white: #ffffff;
  --pre-colors-base-black: #000000;
  --pre-scale-0: 0rem;
  --pre-scale-1: 0.0625rem;
  --pre-scale-200: 12.5rem;
  --pre-scale-52: 3.25rem;
  --pre-scale-48: 3rem;
  --pre-scale-40: 2.5rem;
  --pre-scale-32: 2rem;
  --pre-scale-28: 1.75rem;
  --pre-scale-80: 5rem;
  --pre-scale-20: 1.25rem;
  --pre-scale-16: 1rem;
  --pre-scale-4: 0.25rem;
  --pre-scale-160: 10rem;
  --pre-scale-6: 0.375rem;
  --pre-scale-120: 7.5rem;
  --pre-scale-60: 3.75rem;
  --pre-scale-12: 0.75rem;
  --pre-scale-2: 0.125rem;
  --pre-scale-24: 1.5rem;
  --pre-scale-8: 0.5rem;
  --pre-scale-10: 0.625rem;
  --pre-font-weight-regular: 400;
  --pre-font-weight-medium: 500;
  --pre-font-weight-bold: 600;
  --pre-font-family-primary:
    -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --pre-font-family-mono: "JetBrains Mono", "Fira Code", Consolas, monospace;
  --pre-scale-36: 2.25rem;
  --pre-scale-64: 4rem;
  --pre-scale-22: 1.375rem;
  --pre-scale-14: 0.875rem;
  --pre-scale-9999: 624.9375rem;
  --pre-scale-18: 1.125rem;
  --pre-font-size-12: var(--pre-scale-12);
  --pre-font-weight-semibold: 37.5rem;
  --pre-font-size-60: var(--pre-scale-60);
  --pre-font-size-24: var(--pre-scale-24);
  --pre-font-size-20: var(--pre-scale-20);
  --pre-font-size-28: var(--pre-scale-28);
  --pre-font-size-36: var(--pre-scale-36);
  --pre-font-size-48: var(--pre-scale-48);
  --pre-font-size-16: var(--pre-scale-16);
  --pre-font-size-18: var(--pre-scale-18);
  --pre-font-size-14: var(--pre-scale-14);
  --pre-font-size-10: var(--pre-scale-10);
  --pre-colors-base-transparent: #ffffffff;
  --pre-radius-9999: var(--pre-scale-9999);
  --pre-radius-16: var(--pre-scale-16);
  --pre-radius-12: var(--pre-scale-12);
  --pre-radius-0: var(--pre-scale-0);
  --pre-radius-8: var(--pre-scale-8);
  --pre-radius-2: var(--pre-scale-2);
  --pre-gap-4: var(--pre-scale-4);
  --pre-gap-32: var(--pre-scale-32);
  --pre-gap-8: var(--pre-scale-8);
  --pre-gap-12: var(--pre-scale-12);
  --pre-gap-0: var(--pre-scale-0);
  --pre-gap-16: var(--pre-scale-16);
  --pre-gap-24: var(--pre-scale-24);
  --pre-padding-16: var(--pre-scale-16);
  --pre-padding-12: var(--pre-scale-12);
  --pre-padding-32: var(--pre-scale-32);
  --pre-padding-0: var(--pre-scale-0);
  --pre-radius-24: var(--pre-scale-24);
  --pre-radius-6: var(--pre-scale-6);
  --pre-padding-24: var(--pre-scale-24);
  --pre-padding-4: var(--pre-scale-4);
  --pre-padding-6: var(--pre-scale-6);
  --pre-padding-8: var(--pre-scale-8);
  --pre-gap-6: var(--pre-scale-6);
  --pre-gap-10: var(--pre-scale-10);
  --pre-radius-4: var(--pre-scale-4);
  --pre-radius-32: var(--pre-scale-32);
  --pre-gap-2: var(--pre-scale-2);
  --pre-gap-48: var(--pre-scale-48);
  --pre-padding-48: var(--pre-scale-48);
  --pre-padding-2: var(--pre-scale-2);
  --pre-z-index-0: 0;
  --pre-z-index-1: 1;
  --pre-z-index-100: 100;
  --pre-z-index-200: 200;
  --pre-z-index-300: 300;
  --pre-z-index-350: 350;
  --pre-z-index-400: 400;
  --pre-z-index-500: 500;
  --pre-z-index-600: 600;
  --pre-z-index-700: 700;
  --pre-z-index-800: 800;
  --pre-z-index-900: 900;
  --pre-z-index-1000: 1000;
  --pre-z-index-9999: 9999;
  --pre-scale-100: 6.25rem;
  --pre-scale-300: 18.75rem;
  --pre-scale-350: 21.875rem;
  --pre-scale-400: 25rem;
  --pre-scale-500: 31.25rem;
  --pre-scale-600: 37.5rem;
  --pre-scale-700: 43.75rem;
  --pre-scale-800: 50rem;
  --pre-scale-900: 56.25rem;
  --pre-scale-1000: 62.5rem;
}
