@media (min-width: 768px) and (max-width: 1279px) {
  :root {
    --viewport-width: 768px;
    --viewport-height: 982px;
    --font-size-title-display-large: 48px;
    --font-size-title-display-medium: 36px;
    --font-size-title-display-small: 28px;
    --font-size-title-level-1: 36px;
    --font-size-title-level-2: 28px;
    --font-size-title-level-3: 24px;
    --font-size-title-level-4: 20px;
    --font-size-title-level-5: 16px;
    --font-size-title-level-6: 14px;
    --font-size-content-body-large: 18px;
    --font-size-content-body-medium: 16px;
    --font-size-content-body-small: 14px;
    --font-size-content-body-tiny: 12px;
    --font-size-content-highlight-large: 20px;
    --font-size-content-highlight-medium: 16px;
    --font-size-content-highlight-small: 14px;
    --font-size-content-label-large: 16px;
    --font-size-content-label-medium: 14px;
    --font-size-content-label-small: 12px;
    --font-size-content-label-tiny: 10px;
    --font-size-content-support-large: 16px;
    --font-size-content-support-medium: 14px;
    --font-size-content-support-small: 12px;
    --font-size-action-large: 16px;
    --font-size-action-medium: 14px;
    --font-size-action-small: 12px;
    --font-size-action-tiny: 10px;
    --padding-px-page: 20px;
    --padding-pt-page: 20px;
    --padding-pb-page: 32px;
    --gap-page: 24px;
    --gap-none: 0px;
    --gap-lv-1: 24px;
    --gap-lv-2: 16px;
    --gap-lv-3: 12px;
    --gap-lv-4: 8px;
    --gap-lv-5: 6px;
    --gap-lv-6: 4px;
    --padding-none: 0px;
    --padding-xs: 2px;
    --padding-xs-tight: 0px;
    --padding-sm: 4px;
    --padding-sm-tight: 2px;
    --padding-md: 6px;
    --padding-md-tight: 4px;
    --padding-lg: 8px;
    --padding-lg-tight: 6px;
    --padding-xl: 12px;
    --padding-xl-tight: 8px;
    --padding-2xl: 16px;
    --padding-2xl-tight: 12px;
    --padding-3xl: 24px;
    --padding-3xl-tight: 16px;
    --padding-4xl: 32px;
    --padding-4xl-tight: 24px;
    --radius-none: 0px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 24px;
    --radius-3xl: 32px;
    --radius-4xl: 40px;
    --radius-full: 9999px;
    --border-width-none: 0px;
    --border-width-default: 1px;
    --border-width-emphasis: 2px;
  }
}
