.theme-dark {
  --brand-primary-ultra-light: var(--colors-green-100);
  --brand-primary-light: var(--colors-green-500);
  --brand-primary-main: var(--colors-green-700);
  --brand-primary-hover: var(--colors-green-800);
  --brand-primary-dark: var(--colors-green-900);
  --brand-primary-pressed: var(--colors-green-900);
  --brand-primary-contrast-text: var(--colors-base-white);
  --brand-secondary-ultra-light: var(--colors-green-100);
  --brand-secondary-light: var(--colors-green-400);
  --brand-secondary-main: var(--colors-green-500);
  --brand-secondary-hover: var(--colors-green-700);
  --brand-secondary-dark: var(--colors-green-800);
  --brand-secondary-pressed: var(--colors-green-900);
  --brand-secondary-contrast-text: var(--colors-base-white);
  --brand-tertiary-ultra-light: var(--brand-secondary-ultra-light);
  --brand-tertiary-light: var(--brand-secondary-light);
  --brand-tertiary-main: var(--brand-secondary-main);
  --brand-tertiary-hover: var(--brand-secondary-hover);
  --brand-tertiary-dark: var(--brand-secondary-dark);
  --brand-tertiary-pressed: var(--brand-secondary-pressed);
  --brand-tertiary-contrast-text: var(--brand-secondary-contrast-text);
  --support-success-ultra-light: var(--colors-green-100);
  --support-success-light: var(--colors-green-300);
  --support-success-main: var(--colors-green-500);
  --support-success-dark: var(--colors-green-700);
  --support-info-ultra-light: var(--colors-blue-100);
  --support-info-light: var(--colors-blue-300);
  --support-info-main: var(--colors-blue-500);
  --support-info-dark: var(--colors-blue-700);
  --support-warn-ultra-light: var(--colors-amber-100);
  --support-warn-light: var(--colors-amber-300);
  --support-warn-main: var(--colors-amber-500);
  --support-warn-dark: var(--colors-amber-700);
  --support-error-ultra-light: var(--colors-red-100);
  --support-error-light: var(--colors-red-300);
  --support-error-main: var(--colors-red-500);
  --support-error-dark: var(--colors-red-700);
  --neutral-50: var(--colors-grey-900);
  --neutral-100: var(--colors-grey-800);
  --neutral-200: var(--colors-grey-700);
  --neutral-300: var(--colors-grey-600);
  --neutral-400: var(--colors-grey-500);
  --neutral-500: var(--colors-grey-400);
  --neutral-600: var(--colors-grey-300);
  --neutral-700: var(--colors-grey-200);
  --neutral-800: var(--colors-grey-100);
  --neutral-900: var(--colors-grey-50);
  --base-primary: var(--colors-base-white);
  --base-inverse: var(--colors-base-black);
  --base-transparent: var(--colors-base-transparent);
}
