@theme inline {
  /* Typography / Family */
  --font-ds-family-primary: var(--pre-font-family-primary);
  --font-ds-family-mono: var(--pre-font-family-mono);

  /* Typography / Weight */
  --font-weight-ds-w-default: var(--res-font-size-weight-default);
  --font-weight-ds-w-medium: var(--res-font-size-weight-medium);
  --font-weight-ds-w-semibold: var(--res-font-size-weight-semibold);
  --font-weight-ds-w-bold: var(--res-font-size-weight-bold);

  /* Typography / Title */
  --text-ds-size-title-display-small: var(--res-font-size-title-display-small);
  --text-ds-size-title-display-medium: var(
    --res-font-size-title-display-medium
  );
  --text-ds-size-title-display-large: var(--res-font-size-title-display-large);
  --text-ds-size-title-level-1: var(--res-font-size-title-level-1);
  --text-ds-size-title-level-2: var(--res-font-size-title-level-2);
  --text-ds-size-title-level-3: var(--res-font-size-title-level-3);
  --text-ds-size-title-level-4: var(--res-font-size-title-level-4);
  --text-ds-size-title-level-5: var(--res-font-size-title-level-5);
  --text-ds-size-title-level-6: var(--res-font-size-title-level-6);

  /* Typography / Content */
  --text-ds-size-content-body-tiny: var(--res-font-size-content-body-tiny);
  --text-ds-size-content-body-small: var(--res-font-size-content-body-small);
  --text-ds-size-content-body-medium: var(--res-font-size-content-body-medium);
  --text-ds-size-content-body-large: var(--res-font-size-content-body-large);

  --text-ds-size-content-support-small: var(
    --res-font-size-content-support-small
  );
  --text-ds-size-content-support-medium: var(
    --res-font-size-content-support-medium
  );
  --text-ds-size-content-support-large: var(
    --res-font-size-content-support-large
  );

  --text-ds-size-content-label-tiny: var(--res-font-size-content-label-tiny);
  --text-ds-size-content-label-small: var(--res-font-size-content-label-small);
  --text-ds-size-content-label-medium: var(
    --res-font-size-content-label-medium
  );
  --text-ds-size-content-label-large: var(--res-font-size-content-label-large);

  --text-ds-size-content-highlight-small: var(
    --res-font-size-content-highlight-small
  );
  --text-ds-size-content-highlight-medium: var(
    --res-font-size-content-highlight-medium
  );
  --text-ds-size-content-highlight-large: var(
    --res-font-size-content-highlight-large
  );

  /* Typography / Action */
  --text-ds-size-action-tiny: var(--res-font-size-action-tiny);
  --text-ds-size-action-small: var(--res-font-size-action-small);
  --text-ds-size-action-medium: var(--res-font-size-action-medium);
  --text-ds-size-action-large: var(--res-font-size-action-large);

  /* Typography / Control */
  --text-ds-size-control-tiny: var(--res-font-size-control-tiny);
  --text-ds-size-control-small: var(--res-font-size-control-small);
  --text-ds-size-control-large: var(--res-font-size-control-large);
  --text-ds-size-control-medium: var(--res-font-size-control-medium);
}
